<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>All States</h1>
	</header>

	<main>
		<ul th:each="state:${states}">
			<li>
				<a th:href="|/states/${state.abbreviation}|"><h2 th:text="${state.name}"></h2></a>
				<p th:text="${state.abbreviation}"></p>
				<p th:text="${state.motto}"></p>
				<p th:text="${state.fish}"></p>
			</li>
		</ul>
		<form action="/add-state" method="post">
			<label>State Name: <input type="text" name="name"></label>
			<label>State Abbreviation: <input type="text" name="abbreviation"></label>
			<label>State Motto: <input type="text" name="motto"></label>
			<label>State Fish: <input type="text" name="fish"></label>
			<input type="submit" value="Submit"/>
		</form>
		
		<form action="/add-city" method="post">
			<label>City Name: <input type="text" name="name"></label>
			<label>City Population: <input type="text" name="population"></label>
			<label>State: <input type="text" name="stateName"></label>
			<input type="submit" value="Submit"/>
		</form>

	</main>
</body>
</html>