<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
</head>
<body>
	<header>
		All States
	</header>

	<main>
		<form action="/add-state" method="post">
			<label>State Name: <input type="text" name="name"></label>
			<label>State Abbreviation: <input type="text" name="abbreviation"></label>
			<label>State Motto: <input type="text" name="motto"></label>
			<label>State Fish: <input type="text" name="fish"></label>
			<input type="submit" value="Submit"/>
		</form>
		
		<li>
		

	</main>
	<script src="/js/app.js"></script>
</body>
</html>